.cop__cop__img{
    width: 100%;
    margin-top: 30px;
    .cop__cop__img__img{
        width: 100%;
        border-radius: 10px;

    }
}
.slider__brends{
    
    margin-top: 70px;
    .slider__brends__card{
        border-radius: 15px;
        width: 250px;
        justify-content: center;
        .slider__brends__card__img{
            width: 230px;
            margin-left: 15px;
            border-radius: 20px;
            padding-top: 10px;
            padding-bottom: 10px;
            
        }
    }
}

@media only screen and (max-width: 480px) {
    .slider__brends{
        margin-top: 70px;
        .slider__brends__card{
            border-radius: 15px;
            width: 180px;
            justify-content: center;
            .slider__brends__card__img{
                width: 150px;
                margin-left: 12px;
                border-radius: 20px;
                padding-top: 10px;
                padding-bottom: 10px;
                
            }
        }
    }
}
@media only screen and (max-width: 1280px) {
    .slider__brends{
        margin: 20px;
        margin-top: 70px;
        .slider__brends__card{
            border-radius: 15px;
            width: 230px;
            justify-content: center;
            .slider__brends__card__img{
                width: 200px;
                margin-left: 12px;
                border-radius: 20px;
                padding-top: 10px;
                padding-bottom: 10px;
                
            }
        }
    }
}