.slider{
    margin-top: 50px;
        .slider__card{
            border-radius: 20px;
            .slider__card img{
                border-radius: 20px;
                margin-left: 30px;
            }
        }
}